div(class='header clearfix')
  img#avatar(class='auth pull-right')
  nav#auth-nav(class='auth')
    ul(class='nav nav-pills pull-right')
      li(class='active')
        a#logout(class='btn btn-primary') Log Out
  h3(class='text-muted')
    span #{title}
